packages: [
  "atom-ide-ui"
  "atom-latex"
  "busy-signal"
  "highlight-selected"
  "ide-python"
  "ide-typescript"
  "intentions"
  "language-babel"
  "language-d"
  "language-gherkin"
  "language-swift"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "pdf-view"
  "platformio-ide-terminal"
  "quark-c"
  "scopes"
  "Sublime-Style-Column-Selection"
  "swift-ide"
  "swift-syntax"
]
